<div class="col-md-4">
    <div class="card card-info card-annoucement card-round">
        <div class="card-body text-center">
            <div class="card-opening">Hava Durumu</div>
            <div class="card-desc">
               @Model.city_name için
               
            </div>
            <div class="card-detail">
                <div class="temp-btn">@Model.temp °C</div>
            </div>
        </div>
    </div>

<style>
    .temp-btn {
        
        font-size: 48px; /* Sıcaklık boyutu */
        font-weight: bold; /* Kalın yazı */
      
        padding: 10px 20px; /* İç boşluk */
        
        
    }
</style>