@model IEnumerable<AcunMedyaMenu.Entities.Message>

<div class="main-panel">
    <div class="main-header">
        <div class="main-header-logo">
            <!-- Logo Header -->
            <div class="logo-header" data-background-color="dark">
                <a href="index.html" class="logo">
                    <img src="~/kaiadmin-lite-1.2.0/assets/img/kaiadmin/logo_light.svg"
                         alt="navbar brand"
                         class="navbar-brand"
                         height="20" />
                </a>
                <div class="nav-toggle">
                    <button class="btn btn-toggle toggle-sidebar">
                        <i class="gg-menu-right"></i>
                    </button>
                    <button class="btn btn-toggle sidenav-toggler">
                        <i class="gg-menu-left"></i>
                    </button>
                </div>
                <button class="topbar-toggler more">
                    <i class="gg-more-vertical-alt"></i>
                </button>
            </div>
            <!-- End Logo Header -->
        </div>
        <!-- Navbar Header -->
        <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
            <div class="container-fluid">
                <nav class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button type="submit" class="btn btn-search pe-1">
                                <i class="fa fa-search search-icon"></i>
                            </button>
                        </div>
                        <input type="text"
                               placeholder="Aranacak Kelimeleri Giriniz ..."
                               class="form-control" />
                    </div>
                </nav>

                <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                    <li class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none">
                        <a class="nav-link dropdown-toggle"
                           data-bs-toggle="dropdown"
                           href="#"
                           role="button"
                           aria-expanded="false"
                           aria-haspopup="true">
                            <i class="fa fa-search"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-search animated fadeIn">
                            <form class="navbar-left navbar-form nav-search">
                                <div class="input-group">
                                    <input type="text"
                                           placeholder="Aranacak Kelimeleri Giriniz ..."
                                           class="form-control" />
                                </div>
                            </form>
                        </ul>
                    </li>
                    <li class="nav-item topbar-icon dropdown hidden-caret">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="messageDropdown"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fa fa-envelope"></i>
                            <span class="notification">5</span>
                        </a>
                        <ul class="dropdown-menu messages-notif-box animated fadeIn"
                            aria-labelledby="messageDropdown">
                            <li>
                                <div class="dropdown-title d-flex justify-content-between align-items-center">
                                    Mesajlar
                                    <a href="#" class="small">Tümünü Okundu Olarak İşaretle</a>
                                </div>
                            </li>
                            <li>
                                <div class="message-notif-scroll scrollbar-outer">
                                    <div class="notif-center">

                                        @foreach (var item in Model)
                                        {
                                            <a href="#">
                                                <div class="notif-img">
                                                    <img src="https://i.hizliresim.com/2si3p99.jpg"
                                                         alt="Img Profile" />
                                                </div>
                                                <div class="notif-content">
                                                    <span class="subject">@item.Name</span>
                                                    <span class="block"> @item.Subject  </span>
                                                    <span class="time">@item.DateSent.ToString("dd :mm")</span>
                                                </div>
                                            </a>

                                        }


                                    </div>
                                </div>
                            </li>
                            <li>
                                <a class="see-all" href="javascript:void(0);">
                                    Tüm Mesajları Gör<i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item topbar-icon dropdown hidden-caret">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="notifDropdown"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fa fa-bell"></i>
                          
                        </a>
                        <ul class="dropdown-menu notif-box animated fadeIn"
                            aria-labelledby="notifDropdown">
                            <li>
                                <div class="dropdown-title">
                                    4 Yeni Bildiriminiz Var
                                </div>
                            </li>
                            <li>
                                <div class="notif-scroll scrollbar-outer">
                                    <div class="notif-center">



                                    </div>
                                </div>
                            </li>
                            <li>
                                <a class="see-all" href="javascript:void(0);">
                                    Tüm Mesajları <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item topbar-icon dropdown hidden-caret">
                        <a class="nav-link"
                           data-bs-toggle="dropdown"
                           href="#"
                           aria-expanded="false">
                            <i class="fas fa-layer-group"></i>
                        </a>
                        <div class="dropdown-menu quick-actions animated fadeIn">
                            <div class="quick-actions-header">
                                <span class="title mb-1">Hızlı Erişim</span>
                                <span class="subtitle op-7">Kısayollar</span>
                            </div>
                            <div class="quick-actions-scroll scrollbar-outer">
                                <div class="quick-actions-items">
                                    <div class="row m-0">
                                        <a class="col-6 col-md-4 p-0" href="#">
                                            <div class="quick-actions-item">
                                                <div class="avatar-item bg-danger rounded-circle">
                                                    <i class="far fa-calendar-alt"></i>
                                                </div>
                                                <span class="text">Takvim</span>
                                            </div>
                                        </a>
                                        <a class="col-6 col-md-4 p-0" href="#">
                                            <div class="quick-actions-item">
                                                <div class="avatar-item bg-warning rounded-circle">
                                                    <i class="fas fa-map"></i>
                                                </div>
                                                <span class="text">Haritalar</span>
                                            </div>
                                        </a>
                                        <a class="col-6 col-md-4 p-0" href="#">
                                            <div class="quick-actions-item">
                                                <div class="avatar-item bg-info rounded-circle">
                                                    <i class="fas fa-file-excel"></i>
                                                </div>
                                                <span class="text">Raporlar</span>
                                            </div>
                                        </a>
                                        <a class="col-6 col-md-4 p-0" href="#">
                                            <div class="quick-actions-item">
                                                <div class="avatar-item bg-success rounded-circle">
                                                    <i class="fas fa-envelope"></i>
                                                </div>
                                                <span class="text">Mesajlar</span>
                                            </div>
                                        </a>
                                        <a class="col-6 col-md-4 p-0" href="#">
                                            <div class="quick-actions-item">
                                                <div class="avatar-item bg-primary rounded-circle">
                                                    <i class="fas fa-file-invoice-dollar"></i>
                                                </div>
                                                <span class="text">Faturalar</span>
                                            </div>
                                        </a>
                                        <a class="col-6 col-md-4 p-0" href="#">
                                            <div class="quick-actions-item">
                                                <div class="avatar-item bg-secondary rounded-circle">
                                                    <i class="fas fa-credit-card"></i>
                                                </div>
                                                <span class="text">Ödemeler</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item topbar-user dropdown hidden-caret">
                        <a class="dropdown-toggle profile-pic"
                           data-bs-toggle="dropdown"
                           href="#"
                           aria-expanded="false">
                            <div class="avatar-sm">
                                <img src="https://i.hizliresim.com/818668s.jpg"
                                     alt="..."
                                     class="avatar-img rounded-circle" />
                            </div>
                            <span class="profile-username">
                                <span class="op-7">Selam,</span>
                                <span class="fw-bold">İpek</span>
                            </span>
                        </a>
                        <ul class="dropdown-menu dropdown-user animated fadeIn">
                            <div class="dropdown-user-scroll scrollbar-outer">
                            <li>
                                <div class="user-box">
                                    <div class="avatar-lg">
                                        <img src="~/kaiadmin-lite-1.2.0/assets/img/profile.jpg"
                                             alt="image profile"
                                             class="avatar-img rounded" />
                                    </div>
                                    <div class="u-text">
                                        <h4>İpek</h4>
                                        <p class="text-muted">ipeknr12@gmail.com</p>
                                        <a href="profile.html"
                                           class="btn btn-xs btn-secondary btn-sm">Profili Gör </a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"> Profilim</a>
                               
                                <a class="dropdown-item" href="#">Gelen Kutusu</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Ayarlar</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Çıkış</a>
                            </li>
            </div>
            </ul>
            </li>
            </ul>
    </div>
    </nav>
    <!-- End Navbar -->
</div>