@model AcunMedyaMenu.Entities.Chef
@{
    ViewData["Title"] = "Şef Güncelleme Alanı";
    Layout = "~/Views/Shared/DashboardLayout/_DashboardLayout.cshtml";
}
<div class="container mt-10 pt-5">
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h4 class="card-title">Şef Güncelleme Alanı</h4>
            </div>
        </div>
        <div class="card-body">
            <form method="post" action="@Url.Action("UpdateChef", "Chef")" enctype="multipart/form-data">
                <input type="hidden" asp-for="ChefId" />
                <div class="mb-3">
                    <label asp-for="ChefName" class="form-label"></label>
                    <input asp-for="ChefName" class="form-control" required />
                    <span asp-validation-for="ChefName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Title" class="form-label"></label>
                    <input asp-for="Title" class="form-control" required />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ImageUrl" class="form-label"></label>
                    <input asp-for="ImageUrl" class="form-control" required />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Status" class="form-label"></label>
                    <select asp-for="Status" class="form-select" required>
                        <option value="true">Aktif</option>
                        <option value="false">Pasif</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Güncelle</button>
            </form>
        </div>
    </div>
</div>
