@{
    ViewData["Title"] = "Giriş Yap";
    Layout = "~/Views/Shared/UILayout/_UILayout.cshtml";
}
<br />
<br />
<br />
<br />

<br />
<br />
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title text-center">Admin Girişi</h5>
                </div>
                <div class="card-body">
                    <form id="adminLoginForm" action="/Login/Authenticate" method="POST">
                        <div class="form-group">
                            <label for="username">Kullanıcı Adı</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Şifre</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-orange btn-block">Giriş Yap</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
