
<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
            <a href="index.html" class="logo">
                <img src="~/kaiadmin-lite-1.2.0/assets/img/kaiadmin/logo_light.svg"
                     alt="navbar brand"
                     class="navbar-brand"
                     height="20" />
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item active">
                <li class="nav-item"><a href="/Dashboard/Index"><i class="
icon-grid"></i><p>Kontrol Alanı</p></a></li>
                <li class="nav-item"><a href="/CustomizerCard/Index"><i class="
icon-magic-wand"></i><p>Kişiselleştirme Alanı</p></a></li>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Menüler</h4>
                </li>
                <li class="nav-item"><a href="/Default/Index"><i class="fas fa-home"></i><p>Siteye Git</p></a></li>
                <li class="nav-item"><a href="/AdminPanel/SliderList"><i class="fas fa-angle-double-right"></i><p>Slider Alanı</p></a></li>
                <li class="nav-item"><a href="/Category/CategoryList"><i class="icon-menu"></i><p>Kategoriler</p></a></li>
                <li class="nav-item"><a href="/Product/ProductList"><i class="fas fa-th-list"></i><p>Ürünler</p></a></li>
                <li class="nav-item"><a href="/Reservation/ReservationList"><i class="icon-book-open"></i><p>Rezervasyonlar</p></a></li>
                <li class="nav-item"><a href="/About/AboutList"><i class="fas fa-address-card"></i><p>Hakkımızda</p></a></li>
                <li class="nav-item"><a href="/Feature/FeatureList"><i class="fas fa-sign"></i><p>Öne Çıkanlar</p></a></li>
                <li class="nav-item"><a href="/Chef/ChefList"><i class="icon-star"></i><p>Şefler </p></a></li>
                <li class="nav-item"><a href="/Statistic/Index"><i class="icon-chart"></i><p>İstatistikler </p></a></li>

                <li class="nav-item"><a href="/Testimonial/TestimonialList"><i class="icon-people"></i><p>Referanslar</p></a></li>
                <li class="nav-item"><a href="/SocialMedia/SocialMediaList"><i class="icon-phone"></i><p>Sosyal Medya</p></a></li>
                <li class="nav-item"><a href="/Message/MessageList"><i class="fas fa-envelope"></i><p>Gelen Mesajlar</p></a></li>
                <li class="nav-item"><a href="/Default/Index"><i class="icon-logout"></i><p>Çıkış Yap</p></a></li>

            </ul>
        </div>
    </div>
</div>