@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/DashboardLayout/_DashboardLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">



<body>
    <div class="wrapper">

     
        <br />
        <br />

        <div class="container">
            <div class="page-inner">
                <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
                    <div>
                        <h3 class="fw-bold mb-3">Kontrol Alanı</h3>
                        <h6 class="op-7 mb-2">Acunmedya Akademi Menü Projesi</h6>
                    </div>
                    <div class="ms-md-auto py-2 py-md-0">
                        <a href="#" class="btn btn-label-info btn-round me-2">Yönet</a>
                        <a href="#" class="btn btn-primary btn-round">Rezervasyon Ekle</a>
                    </div>
                </div>

                @await Component.InvokeAsync("_StatisticsDashboardComponentPartial")

                @await Component.InvokeAsync("_ChartDashboardComponentPartial")

                @await Component.InvokeAsync("_GeoLocationDashboardComponentPartial")






                <div class="row">
                    @await Component.InvokeAsync("_LastReservationDashboardComponentPartial")

                    @await Component.InvokeAsync("_LastOrderDashboardComponentPartial")

                </div>
            </div>
        </div>

       



    </div>

   

</body>
</html>