
@model List<AcunMedyaMenu.Entities.Chef>
<div class="team" id="team">
    <div class="container">
        <div class="section-header text-center">
            <p>Ekip Arkadaşlarımız </p>
            <h2>Profesyonel Şeflerimiz Master Chef</h2>
        </div>
        <div class="row">
            @foreach (var item in Model)
                {
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="@item.ImageUrl" alt="Image" style="height:250px">
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h2>@item.ChefName</h2>
                        <p>@item.Title</p>
                    </div>
                </div>
            </div>

                }

        </div>
    </div>
</div>