<footer class="footer">
    <div class="container-fluid d-flex justify-content-between">
        <nav class="pull-left">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="http://www.themekita.com">
                        İNÖ Yazılım
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Yardım </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Lisanslar </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            2024, made with <i class="fa fa-heart heart text-danger"></i> by
            <a href="http://www.themekita.com">İNÖ</a>
        </div>
        <div>
            Distributed by
            <a target="_blank" href="https://themewagon.com/">İNÖ</a>.
        </div>
    </div>
</footer>