<head>
    <meta charset="utf-8">
    <title> Acun Medya Akademi Core Menu Projesi</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    <link href="~/food-website-template/img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="~/food-website-template/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/food-website-template/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/food-website-template/lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="~/food-website-template/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="~/food-website-template/css/style.css" rel="stylesheet">
</head>
