<div class="navbar navbar-expand-lg bg-light navbar-light">
    <div class="container-fluid">
        <a href="index.html" class="navbar-brand">Acun Medya  <span>Menu</span></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <a href="#feature" class="nav-item nav-link active">Ana Sayfa</a>
                <a href="#about" class="nav-item nav-link">Hakkımızda</a>
                <a href="#booking" class="nav-item nav-link">Rezervasyon</a>
                <a href="#menu" class="nav-item nav-link">Menü</a>
                <a href="#team" class="nav-item nav-link">Şefler</a>
                <a href="#contact" class="nav-item nav-link">İletişim</a>
                <a href="/Login/Index" class="nav-item nav-link">
                    <i class="fas fa-user"></i> <!-- FontAwesome ikonu -->
                  
                </a>
            </div>
        </div>
    </div>
</div>
