<div class="col-md-4">
    <div class="card card-post card-round">
        <img class="card-img-top"
             src="https://i.hizliresim.com/s1xkej7.jpg"
             alt="Card image cap" />
        <div class="card-body">
            <div class="d-flex">
                <div class="avatar">
                    <img src="https://i.hizliresim.com/818668s.jpg"
                         alt="..."
                         class="avatar-img rounded-circle" />
                </div>
                <div class="info-post ms-2">
                    <p class="username">İpek Nur Öztürk</p>
                    <p class="date text-muted">20 Temmuz 2024</p>
                </div>
            </div>
            <div class="separator-solid"></div>
            <p class="card-category text-info mb-1">
                <a href="#">MEDIUM YAZISI</a>
            </p>
            <h3 class="card-title">
                <a href="#">SQL’de Joinler: Veri Tabanlarında Veri Bağlama Teknikleri </a>
            </h3>
            <p class="card-text">
                Merhaba! Herhangi bir yazılım geliştirme kursuna veya projeye başladığınızda, veri tabanlarına ilişkin bazı temel kavramlarla karşılaşıyoruz. Zamanla fark ediyoruz ki, veri tabanlarındaki bilgiler sadece tek bir tabloda değil, genellikle birkaç farklı tabloda dağılmıştır.
            </p>
            <a href="https://medium.com/ipeknr12/sqlde-joinler-veri-tabanlar%C4%B1nda-veri-ba%C4%9Flama-teknikleri-c30f8a7ba175" target="_blank" class="btn btn-primary btn-rounded btn-sm">Devamını Oku </a>
        </div>
    </div>
</div>
