@model List<AcunMedyaMenu.Entities.Category>
@{
    ViewData["Title"] = "Slider Ekleme";
    Layout = "~/Views/Shared/DashboardLayout/_DashboardLayout.cshtml";
}<div class="container mt-10 pt-5">
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h4 class="card-title">Kategori Ekleme Alanı</h4>

            </div>
        </div>
        <div class="card-body">
            <form method="post" action="@Url.Action("CreateCategory", "Category")" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Kategori Adı</label>
                    <input type="text" class="form-control" id="title" name="CategoryName" required>
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Icon </label>
                    <input type="text" class="form-control" id="title" name="Icon" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Açıklama</label>
                    <textarea class="form-control" id="description" name="Description" rows="3" required></textarea>
                </div>
                
                <button type="submit" class="btn btn-primary">Ekle</button>

            </form>
        </div>
    </div>
</div>
